body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: -moz-center;

}

.main{
margin-top: 2%;
}

.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}

.footer p{
	text-align: center;
	margin: 20px 0 10px;
}

#tit{
  color: red;  
}

.starter-template .header .myimg{

  width: 200px;
  height: auto;
}

.footer .container .text-muted a{
  color: red;
}

a .logo{
  width: 30px;
  height: auto;
  padding-bottom: 2%;

}
